@{
    ViewData["Title"] = "Dashboard";
}

<h2>Painel Administrativo</h2>

<p>Total de clientes cadastrados: @ViewBag.TotalClientes</p>

<h3>Agendamentos de Hoje</h3>

<table class="table table-striped table-hover">
    <tr>
        <th>Cliente</th>
        <th>Serviço</th>
        <th>Data</th>
        <th>Horário</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>

    @foreach (var agendamento in ViewBag.ProximosAgendamentos)
    {
        <tr>
            <td>@agendamento.Cliente.Nome</td>
            <td>@agendamento.Serviço.Nome</td>
            <td>@agendamento.Data.ToShortDateString()</td>
            <td>@agendamento.Horario</td>
            <td>@agendamento.Status</td>
            <td>
                <a asp-action="ConfirmarAgendamento" asp-route-id="@agendamento.IdAgendamento" class="btn btn-success">Confirmar</a>
                <a asp-action="CancelarAgendamento" asp-route-id="@agendamento.IdAgendamento" class="btn btn-outline-danger">Cancelar</a>
            </td>
        </tr>
    }
</table>